.container{
    border: solid 1px rgb(8,7,7);
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.encabezado{
    border-radius: 10px;
    background-color: bisque;
    height: 100px;
    margin: 10px 5px;

}

.contenido{
    height: 500px;
    margin: 10px 5px;
}

.cuerpo{
    background-color: rgb(67,250,149);
    border-radius: 10px;
    height: 450px;
    width: 600px;
}
.lateralIzquierda{
    background-color: rgb(75,89,244);
    border-radius: 10px;
    height: 450px;
    width: 200px;
}
