.container{
border: solid black 1px;
border-radius: 10px;
padding: 5px;
margin-top: 10px;
}
.encabezado{
    background-color: bisque;
    border-radius: 10px;
    height: 100px;
    margin: 10px 5px;
}
.contenido{
    height: 500px;
    margin: 10px 5px;
}
.entry{
   background-color: rgb(127, 228, 253);
    border-radius: 10px;
    height: 200px;
    margin: 5px; 
    width: 550;
}

.lateralIzquierdo{
background-color: rgb(194, 243, 243);
border-radius: 10px;
height: 450px;
margin-right: 10px;
width: 200px;
}

.cuerpo{
background-color: aquamarine;
border-radius: 10px;
height: 450px;
margin-right: 10px;
width: 600px;
}

.lateralDerecho{
background-color: rgb(194, 243, 243);
border-radius: 10px;
height: 0px;
margin-right: 10px;
width: 200px;

}
.piedepagina{
    background-color: rgb(123, 227, 18);
    border-radius: 10px;
    height: 200px;
    margin: 10px 5px;
}